* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: #212529;
  color: #c7c7c7;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  height: 260px;
  width: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fcd20e;
  position: relative;
  overflow: hidden;
}

.brunei-icon {
  height: 55%;
  position: absolute;
}

.white, .black {
  height: 50px;
  width: 110%;
  transform: rotate(18deg);
}

.white {
  background: #ddd;
}

.black {
  background: black;
}